body{
    padding: 20px 30PX;
}
.activenode{
    color: #1BA7E7;
    list-style: none;
    flex-direction: row;
    display: flex;
    min-width: 300px;
}
.statusText{
    color: rgb(31, 158, 90);
    margin-right: 10px;
}
.statusTextOffline{
    margin-right: 10px;
    color: red;
}
#usersList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#buttton{
    /* height: 40px;
    min-width: 180px;
    border-radius: 10px;
    border-width: 0;
    color: darkgrey;
    font-size: 16px; */
}
#logs{
    flex:0.7
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }